{% extends "base.html" %}
{% block page_title %} HardHittin Music {% endblock %}
{% block head_html %}
	<script src="js/underscore-min.js"></script>  
	<script src="js/backbone-min.js"></script>
	
	<script type="text/javascript" src="js/tweet2.js"></script>
{% endblock %}
{% block body_background %}class="back-contact"{% endblock %}
{% block page_block %}
	<div style="color:#FFFFFF;padding:5% 12.5% 0 12.5%;border:2px; border-color:#FFFFFF;">
	<div style="font-size: 24px;"> Contact Info..</div>
	<div style="padding:20px 0px;">
		<pre style="font-size: 12px;">
Hard Hittin Ent
Worcester, MA, 01604
		</pre>
	</div>	
	</div>

	<!--div id="contact_text_a">
		<a href="https://twitter.com/HardHittin508" class="logo5" style="margin: 0px auto;">Twitter</a>
		<a href="https://twitter.com/HardHittin508" class="logo2" style="margin: 0px auto;">Twitter</a>
		<a href="http://soundcloud.com/hard-hittin-ent" class="logo3" style="margin: 0px auto;">Twitter</a>
		<a href="http://soundcloud.com/hard-hittin-ent" class="logo4" style="margin: 0px auto;">Twitter</a>
		<a href="http://soundcloud.com/hard-hittin-ent" class="logo6" style="margin: 0px auto;">Twitter</a>
	</div-->


	<div style = "margin: 0px 125px 20px 150px;overflow: hidden;">
		<div id="temp" style="height:50px; position:absolute;bottom: 120px">
			<span style="font:bold"><a id="Previous">Previous &nbsp; &nbsp; &nbsp;</a></span>
			<span style="font:bold"><a id="Next">&nbsp; &nbsp; &nbsp; Next</a></span>
		</div>


		<div id="main_tweet" style="height: 160px; position: absolute; bottom: 0px;">
		</div>
	</div>
{% endblock %}

