<!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="utf-8">
   <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> 
	<![endif]-->
   <title>Hard Hittin Ent Presents 508 Alliance</title>
   <link rel="shortcut icon" href="images/hardhittinent.ico">
   <link rel="stylesheet/less" type="text/css" href="css/styles.less">
   <script type="text/javascript" src="js/less-1.3.0.min.js"></script>
 	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 	 <script type="text/javascript" src="js/landing.js"></script>
 </head>

<body>
	<div id="front_text" class="page-layer">
		<div class="center-in-div">
			<div id="front_text_a">
					<span id="intro">HARD HITTIN ENT<span>
					<span id="enter"><i><a id="aenter" href="index.html">ENTER</a></i></span>
			</div>
		</div>
	</div>

	<div id="back_text" class="page-layer">
	</div>

	<div id="double_text" class="back-home" class="page-layer">
	{% include 'menu.html' %}
	</div>
</body>

</html>
