			<nav id="menu">
				<ul id="menu-ul">
					<li id="menu-li1" class="menu-li">
						<a href="home.html">HOME</a>
					</li>
					<li id="menu-li2" class="menu-li">
						<a href="music.html">Music</a>
					</li>
					<li id="menu-li3" class="menu-li">
						<a href="videos.html">VIDEOS</a>
					</li>
					<li id="menu-li4" class="menu-li">
						<a href="photos.html">PHOTOS</a>
					</li>
					<li id="menu-li5" class="menu-li">
						<a href="tito.html">TITO PRODUCTIONS</a>
					</li>
					<li id="menu-li6" class="menu-li">
						<a href="bio.html">BIO</a>
					</li>
					<li id="menu-li7" class="menu-li">
						<a href="contact.html">CONTACT</a>
					</li>
				</ul>
			</nav>
