{% extends "base.html" %}
{% block page_title %} HardHittin Music {% endblock %}
{% block head_html %}
	<script type="text/javascript" src="js/soundcloud.js"></script>
{% endblock %}
{% block body_background %}class="back-music"{% endblock %}
{% block page_block %}{{widget}}


<div id="outer_soundcloud_plugin">
	<iframe id="soundcloud_plugin" width="100%" height="100%" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F52216960&show_artwork=false&client_id=7901d28344f79bb53d022b8f47f0ac2a">
	</iframe>
</div>

{% endblock %}


