{% extends "base.html" %}
{% block page_title %} HardHittin Music {% endblock %}
{% block head_html %}


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  	<script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
	<script src="js/underscore-min.js"></script>  
	<script src="js/backbone-min.js"></script>
	<!--script src="js/insta.js"></script-->
	
{% endblock %}
{% block body_background %}class="back-photo"{% endblock %}
{% block page_block %}
	
	
  <!--div id="main1" style="position:relative;border-style:solid; border-color:#0000ff;"><!--"overflow:hidden"-->
	<!--image src= "http://distilleryimage1.s3.amazonaws.com/02a8d264fe1e11e1bf7c22000a1e9ddc_7.jpg">
  </div>
	<!--div style="clear:both"-->



	  <!--div id="list1" style="border-style:solid; border-color:#00ff00;">
  </div-->



{% endblock %}

