<!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="utf-8">
   <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> 
	<![endif]-->
	<title>Hard Hittin Ent Presents 508 Alliance</title>
	<link rel="shortcut icon" href="images/hardhittinent.ico">	
    	<link rel="stylesheet/less" type="text/css" href="css/styles.less">
	<script type="text/javascript" src="js/less-1.3.0.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  	<script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
	<script src="js/underscore-min.js"></script>  
	<script src="js/backbone-min.js"></script>


	<script type="text/javascript">
	$(function(){
		/*Backbone.sync = function(method, model, success, error){ 
    	success();
  }*/


  var Tweet = Backbone.Model.extend({
    defaults: {
		screen_name: "tweet.screen_name",
		text: "tweet.text",
		profile_image_url: "tweet.profile_image_url",
		id: "tweet.id",
		created_at_time: "tweet.created_at_time",
		created_at_epoch: "100000000000",
		time_lapsed: "tweet.time_lapsed"
    },
	parse : function(resp) {
		 //alert("resp: " + resp);
		 alert(JSON.stringify(resp)); 
 		 return JSON.parse(resp);
	},

    initialize: function(){
	//alert("Model init.")
	_.bindAll(this, 'time_lapse'); // every function that uses 'this' as the current object should be in here
 	this.time_lapse();
	//alert("this.get('created_at_epoch'): " + this.get('created_at_epoch')
        //       + "\nthis.get('text'): " + this.get('text'));
    },

    time_lapse: function(){
		var myDate = new Date();
	    	var raw_epoch = (myDate.getTime() - parseInt(this.get('created_at_epoch'),10))/1000,
		minutes = 60,
		hours = minutes*60,
		days = (hours*24),
		weeks = (days*7);

		//alert("raw_epoch: " +  raw_epoch);

		if (raw_epoch < 60)
			time_lapsed = raw_epoch + " seconds";
		else if (raw_epoch/minutes < 60)
			time_lapsed = Math.floor(raw_epoch/minutes) + " minutes ago";
		else if (raw_epoch/hours < 24)
			time_lapsed = Math.floor(raw_epoch/hours) + " hours ago";
		else if (raw_epoch/days < 7)
			time_lapsed = Math.floor(raw_epoch/days) +  " days ago";
		else
			time_lapsed = Math.floor(raw_epoch/weeks) + " weeks ago";
	 	this.set({time_lapsed: time_lapsed});
    		}
  	});


	  var Tweets = Backbone.Collection.extend({
			model: Tweet,
			url: '/tweets.json',
			initialize: function(){
			this.bind('reset', function (collect) {
							alert("tweets.lengths 1: " + collect.length);
							alert("RESET");
							});	
			}
	  });



	var GenericAlertView = Backbone.View.extend({ 

		initialize: function(){
			alert('VIEW')
			_.bindAll(this, 'render'); // every function that uses 'this' as the current object should be in here	
		}
	  });
	  


	  var TweetView = GenericAlertView.extend({
	    tagname: 'div',
		classname: 'tweet',
	    template: _.template(
			//"<div id=\"one\" class=\"tweet\">	" +
			"	<div style=\"display:block\">	" +
			"		<span style=\"float:left\">	" +
			"			<img src=\"<%= profile_image_url %>\">	" +
			"		</span>	" +
			"		<span style=\"float:left; padding:0px 0px 0px 10px;\">	" +
			"			<a href=\"https://twitter.com/<%= screen_name%>\"> @<%= screen_name%></a>	" +
			"		</span>	" +
			"	</div>	" +
			"	<br>	" +
			"	<div style=\"display:block;clear:both;\">	" +
			"		<%= text %>	" +
			"	</div>	" +
			"	<br>	" +
			"	<div style=\"display:block\">	" +
			"		<span style=\"float:left\">	" +
			"			<img src=\"../images/twitter-bird-light-bgs.png\" height=\"20\" width=\"20\">	" +
			"		</span>	" +
			"		<span style=\"float:left\">	" +
			"			<%= time_lapsed %>	" +
			"		</span>	" +
			"	</div>	"/* +
			"	" +
			"</div>	" */
			),

    	render: function(){
			alert("render.toJSON: " + this.model.toJSON());
			//alert("HELLO/n"+ this.template(this.model.toJSON()));
			//$(this.el).remove();
			$(this.el).html(this.template(this.model.toJSON()));
			return this; // for chainable calls, like .render().el
    	}

	  });
  


	var ListView1 = Backbone.View.extend({
					el: 'div#main',
					initialize: function(){
						alert("Churchy inside");
						this.collection.on('add', this.addOne, this);
						this.collection.on('reset', this.addOne, this);
						this.render(this);
					},
					addOne: function(todoItem){
						alert("addOne todoItem: " + todoItem);
						var tweetView = new TweetView({model: todoItem});
						alert("red");
						this.$el.append(tweetView.render().el);
					},
					render: function(){
						alert("render");
						this.collection.forEach(this.addOne, this);
					}
				});




  // Because the new features (swap and delete) are intrinsic to each `Item`, there is no need to modify `ListView`.
  var ListView = Backbone.View.extend({
    //el: $('div#list'), // el attaches to existing element


    initialize: function(){
		_.bindAll(this, 'render', 'addItem', 'appendItem'); // every function that uses 'this' as the current object should be in here      
		alert("Hold");
      	//this.collection = new List();
      	//this.collection.bind('add', this.appendItem);
		///this.collection.bind('add'); // collection event binder
     	//this.counter = 0;
		//alert("render - collection.length: " + this.collection.length);
      	this.render();
    },

    render: function(){
	var self = this;
	//alert("render - collection.length: " + this.collection.length);
	_(this.collection.models).each(function(item){ // in case collection is not empty
			alert("item: " + item);
      		self.appendItem(item);
      }, this);
		alert("Done");
    },

    addItem: function(item){
		this.counter++;
		var tweet = new Tweet(item);
		this.collection.add(notify);		
    },


    appendItem: function(item){
		alert("e");
	    var tweetView = new TweetView({
        	model: tweet
      		});
		 $(this.el).append(tweetView.render().el);
    }
  });




	var tweets = new Tweets();
	/*var tweetsView = new ListView({
	collection: tweets
	});*/
	
	//var listview = new ListView1({collection:tweets});

	tweets.fetch();
	//setTimeout(function(){tweets.fetch();},3000);
	setTimeout(function(){alert("tweets.length: " + tweets.length);},7000);
	setTimeout(function(){alert(JSON.parse(tweets));},7000);

	







		/*alert("");
		$.ajax({
		  url: '/tweets.json',
		  dataType: 'json',
		  data:'',
		  success: function(result){alert(result);}
		});*/
			

	})
	</script>
	<!--script type="text/javascript" src="js/audition31.js"></script-->

	<!--script>
	alert(new Date().getTime() / 1000);
	</script-->
  </head>
	<body style="color:#FFFFFF;">

	<div id = "main"  style="position: absolute; bottom: 0px;margin: 0px auto;">
	</div>
	</body>
	</html
